$mainColor:#58bc58;
$hilightColor:lighten($mainColor,10%);
$darkColor:darken($mainColor,10%);
$fontSize:16px;
$color:#333;
$yew: #ee9c23;

// 多值变量
$pd:5px 10px 15px 20px;
$headings:(h1: 2em, h2: 1.5em, h3: 1.2em);

// 头部广告
