*{font-size: 12px;}
.yew{color: #ee9c23;}
.details{background-color: #eee;

    .homeurl{width: 100%;height: 50px;
        line-height: 50px;
        a{color: #888888;}
        & a:hover span{color:#333;}
    }

    .goodsdetails{overflow: hidden;width: 100%;
        .goodste_top{width: 100%;
            background: #bf9b5f;
            height: 58px;
            line-height: 50px;
            color: #fff;
            font-size: 24px;
            padding :0 15px;
            position: relative;
            .tmjxz{width: 80%;float: left;
                .wjtime{
                    font-size: 24px;
                    margin-left: 200px;
                }
            }
            .ygmjs{float: left; font-size: 12px;}
        }
        .goodste_bot{
            // height: 720px;
            overflow: hidden;
            padding-bottom: 40px;
            background-color: #fff;

            // 左边放大镜

            .goodste_bl{
                box-sizing: border-box;
                width: 550px;
                height: 614px;
                float: left;
                overflow: hidden;
                border: 1px solid #555;
            }


            // 右边商品信息
            .goodste_br{
                // width: 570;
                float: right;
                width: 460px;
                padding-top: 25px;
                margin-right: 40px;
                p{
                    padding-bottom: 30px;
                    line-height: 1.2;
                    text-align: left;
                    font-size: 18px;
                    font-weight: normal;
                    .syh{display:inline-block;font-size: 40px;
                        color:skyblue;
                    }
                }
                .goodste_brc{
                    border-left: 1px dashed #f0eee2;
                    padding-left: 30px;
                    margin-left: -30px;
                    clear: both;
                    
                    .product-titles2 {
                        padding: 0px;
                        color: #505a64;
                        font-size: 12px;
                        line-height: 26px;
                        .icon66{
                            font-size: 12px;
                            color: #fff;
                            background: #EC3E7C;
                            margin-right: 5px;
                            display: inline-block;
                            border-radius: 2px;
                            height: 22px;
                            line-height: 22px;
                            padding: 0 5px;
                            position: relative;
                            top: 2px;
                        }
                        a{color:#888;}

                    }
                    p{font-size: 12px;line-height: 30px;}
                    .ruleWrap{
                        padding: 18px 0 14px;
                        border-top: 1px solid #d8d8d8;
                        border-bottom: 1px solid #d8d8d8;
                        margin-bottom: 5px;
                        .dispatching{
                            font-size: 14px;
                            color: #333;
                            li div{
                                display: inline-block;
                                position: relative;
                                .hid{padding-bottom: 0;}
                            }
                            .one{
                                width: 50px;
                                letter-spacing: 5px;
                                color: #959595
                            }
                            
                        }

                    }
                }
                .goodste_brt{
                    .spshuliang{
                        margin-top: 10px;
                        width: 100%;height: 21px;
                   
                            font-size: 12px;
                            .spbtn{
                                font-size: 14px;
                                display:inline-block;
                                width: 20px;
                                height: 20px;
                                color:#555;
                                font-weight: bold;
                                text-align: center;
                                border: 1px solid #666;
                                background-color: #efefef;
                                vertical-align: middle;
                            }
                            #jssl{  
                                width: 25px;
                                height: 20px;
                                background-color: #eee;

                            }
                    }

                    .detail{
                        display: block;
                        height: 24px;
                        color: #888888;
                        padding-left: 5px;
                        padding-top: 20px;

                        .action-price{color:#ec3e7d;
                            font-size: 26px;
                            line-height: 1.2;
                            text-decoration: none;
                        }

                    }
                   .xgbtbox{width: 100%;
                        margin-top: 40px;
                        height: 60px;
                        .dhtzbyn{  
                            float: left;   
                            width: 146px;
                            height: 40px;
                            line-height: 38px;
                            color: #fff;
                            font-size: 16px;
                            letter-spacing: 4px;
                            background: #ec3e7d;
                            border-radius: 5px;
                        }
                        .smgw{
                            box-sizing: border-box;
                            font-size: 12px;
                            background-color: #fff;
                            color:#666;
                            border: 1px solid #111;
                            text-align: center;
                            padding: 0px;
                            margin-left: 10px;
                            position: relative;
                            .smgw{
                                display: none;
                                position: absolute;
                                top:-150px;
                                left: -12px;
                                width: 148px;
                                height: 148px;
                                background: url('../img/details/smgw.png') no-repeat;
                                background-size: cover;
                            }
                            &:hover .smgw{display: block;}

                        }
                        
                   }

                   .pinglun{
                        overflow: hidden;

                        width: 100%;
                        height: 40px;
                        color: #333;
                        
                    }

                    .fenxiang{
                        width: 100%;
                        .fenxiang_r{
                            padding-right: 60px;
                            float: right;
                            a{margin-right: 10px;
                                display: inline-block;
                                width: 18px;
                                height: 16px;
                                background: url('../img/details/fx1.png') no-repeat;
                                background-size: cover;
                                &:nth-child(2){
                                    background: url('../img/details/fx2.png') no-repeat;
                                }
                            }
                        }

                    }
                  
                }
                
            }
        }
    }

    .xqmain{
        width: 100%;background-color: #eee;

        .cnxh{overflow: hidden;
            .cnxhbt{padding-top: 20px;
                
                width: 100px;height: 50px;
                font-size: 16px;
                color:#333;
                line-height: 50PX;}
            .xhlist li{
                float: left;
                width: 212px;
                height: 310px;
                padding: 10px 9px 8px 9px;
                border: solid 1px #eee;
                background: #fff;
                margin-right: 10px;
               
                img{
                    width: 212px;
                    height: 212px;
                    margin-bottom: 20px;
                }
                &:hover img{opacity: 0.5;}
                &:last-child{margin-right: 0px;}
                .cnnr{
                    color:#888;
                }
                .cnscpace{
                   
                   span{
                        font-size: 24px;
                       color: #e93b78;
                   }
                }
            }
        }

        // 商品参数

        .spcs{width: 100%;overflow: hidden;
            margin-top: 30px;
            .spcs_l{
                width: 247px;background-color: #fff;
                .spcs_lt{
                   
                    width: 100%;
                    height: 50px;
                    position: relative;
                    border-bottom: 1px solid #666;
                    .lsbt{
                        font-size: 18px;
                        line-height: 50px;
                        padding-left: 23px;
                        
                   
                    }
                    .lsbtl{
                        position: absolute;
                        
                        top: 0;
                        left: 0;
                        width: 6px;
                        height: 50px;
                        background-color: #58bc58;
                        }

                }
                .spcs_lb{
                    overflow: hidden;
                    li{
                        width: 100%;
                        height: 69px;
                        border-bottom: 1px dashed #d4d4d4;
                        padding: 20px 10px;
                        margin-top: -1px;
                        .spcs_lbl{
                            overflow: hidden;
                            width: 69px;
                            height: 69px;
                            margin: 0;
                            padding: 0px;
                        }
                        .spcs_lbr{
                            width: 167px;
                            overflow: hidden;
                            color: #3e3e3e;
                            .lsnr{
                                width: 150px;
                                overflow: hidden;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                               
                            }
                        }

                    }
                }
            }
            
            .spcs_r{
                width: 920px;
                overflow: hidden;

                // 吸顶菜单
                .xq_xdbox{
                    background-color: #fff;
                    height: 51px;
                    overflow: hidden;
                    width: 100%;
                    font-size: 14px;
                    float: left;
                    margin-right: 5px;
                    font-weight: normal;
                    .product-tags .tags-hd {
                        font-size: 14px;
                        float: left;
                        margin-right: 5px;
                        font-weight: normal;
                    }
                    .product-tags .active {
                        border-bottom: 3px solid #c69a62;
                    }
                    .product-tags .tags-hd a {
                        color: #555c67;
                        border: 1px solid white;
                        display: block;
                        padding: 2px 26px;
                        height: 42px;
                        line-height: 42px;
                        font-size: 16px;
                    }
                    .tags-addtocart {
                        float: right;
                        width: 260px;
                    }
                    .tags-addtocart .price {
                        line-height: 50px;
                        font-size: 24px;
                    }
                    .tags-addtocart .btn {
                        background: #ec3e7d;
                        padding: 0px 20px;
                        height: 50px;
                        line-height: 50px;
                        color: #fff;
                        font-size: 16px;
                        float: right;
                        margin-left: 15px;
                        border-radius: 0;
                    }
                }

                // 详细参数

                .mod {
                    margin-top: 70px;
                    padding-top: 20px;
                    background-color: #fff;
                }
                .mod-title .mod-title-text {
                    line-height: 32px;
                    font-weight: 400;
                    padding-left: 10px;
                    font-size: 21px;
                    background: url('../img/details/probt.png') no-repeat 110px 3px;
                }
               
                
                .product-section .mod-title {
                    height: 32px;
                }
                .product-attributes ul {
                    padding: 30px 45px;
                }
                .product-attributes li {
                    clear: both;
                    color: #333;
                    padding: 6px 0;
                }
                .product-attributes li span {
                    width: 140px;
                    color: #666;
                    display: inline-block;
                }
                .attributes-cont {
                    width: 580px;
                    float: right;
                    text-align: left;
                }

                // 图片
                .pltp{
                    width: 100%;
                    overflow: hidden;
                    .xqxxtb{
                        background-position: 110px -50px;
                    }    
                    
                }


                // 评论区

                .pinglunxx{
                    margin-top: 50px;
                    background: #fff;
                    overflow: hidden;
                    margin-bottom: 26px;
                    width: 100%;
                    .yhpjtb{
                        background-position: 110px -146px;
                        
                    }
                }
                

                
                .product-score {
                    width: 100%;
                    line-height: 24px;
                }

                .product-score .score-total .values, .product-score .score-total .values .stars, .product-score .score-total .values .stars .below {
                    width: 105px;
                }
                .product-score td {
                    padding: 15px 10px;
                }
                .btn-k {
                    border: 2px solid #ec3e7d;
                    padding: 4px 30px;
                    font-size: 18px;
                    color: #ec3e7d;
                }
                .koubeipoint {
                    font-size: 24px;
                    line-height: 40px;
                    padding-left: 45px;
                }
                .koubeipoint b {
                    font-size: 36px;
                    color: #db3f7e
                }
                .comment-list .title {
                    padding-left: 55px;
                    margin-top: -20px;

                }
             
                
                user agent stylesheet
                div {
                    display: block;
                }
                .comment-list {
                    padding: 10px 10px 10px 10px;
                    line-height: 24px;
                }
                ul, li{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                .comment-list .comment-item {
                    margin: 15px 0 40px 0;
                }
                input, select, textarea {
                    border-width: 1px;
                    border-color: #cccccc;
                    padding: 1px;
                }
                .comment-list .member-avatar {
                    width: 60px;
                    height: 60px;
                    line-height: 58px;
                    overflow: hidden;
                    text-align: center;
                    font-family: Arial;
                    margin: 0 auto;
                    padding: 1px;
                }
                .iconfont {
                    font-family: "iconfont" !important;
                    font-size: 30px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                    -webkit-text-stroke-width: 0px;
                    -moz-osx-font-smoothing: grayscale;
                    line-height: 1;
                }
                
                .comment-list .discuss-label {
                    overflow: hidden;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #333;
                    margin-bottom: 10px;
                }
                .comment-list .member {
                    width: 145px;
                    float: left;
                    text-align: center;
                    margin-right: 5px;
                    .username {
                        width: 145px;
                        word-break: break-all;
                        line-height: 16px;
                    }
                }
                .comment-list .member-discuss {
                    position: relative;
                    width: 575px;
                    margin-left: 150px;
                    padding: 20px 24px;
                    background-color: #f2f2f2;
                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                     .point {
                        position: absolute;
                        overflow: hidden;
                        font-size: 0;
                        line-height: 0;
                        width: 20px;
                        height: 20px;
                    }
                    .comment-list .point i {
                        position: absolute;
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        border: 10px dashed transparent;
                    }
                    .comment-list .point-left .above {
                        border-right-color: #f2f2f2;
                        left: 0px;
                        top: 0;
                    }
                    .comlst-title {
                        float: left;
                        margin-right: 20px;
                        color: #ec3e7d;
                        font-size: 18px;
                        width: 40%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .comlst-point {
                        margin-right: 5px;
                    }
                    .discuss-detail {
                        color: #575e68;
                    }
                    .discuss-time {
                        font-size: 14px;
                        color: #bebebe;
                        clear: both;
                        line-height: 40px;
                    }
                    .post-reply .btn-close, .post-answer .btn-close {
                        margin-left: 10px;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
        }
        
    }
}
