* {
  font-size: 12px;
}

.yew {
  color: #ee9c23;
}

.details {
  background-color: #eee;
}

.details .homeurl {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.details .homeurl a {
  color: #888888;
}

.details .homeurl a:hover span {
  color: #333;
}

.details .goodsdetails {
  overflow: hidden;
  width: 100%;
}

.details .goodsdetails .goodste_top {
  width: 100%;
  background: #bf9b5f;
  height: 58px;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  padding: 0 15px;
  position: relative;
}

.details .goodsdetails .goodste_top .tmjxz {
  width: 80%;
  float: left;
}

.details .goodsdetails .goodste_top .tmjxz .wjtime {
  font-size: 24px;
  margin-left: 200px;
}

.details .goodsdetails .goodste_top .ygmjs {
  float: left;
  font-size: 12px;
}

.details .goodsdetails .goodste_bot {
  overflow: hidden;
  padding-bottom: 40px;
  background-color: #fff;
}

.details .goodsdetails .goodste_bot .goodste_bl {
  box-sizing: border-box;
  width: 550px;
  float: left;
  overflow: hidden;
  border: 1px solid #555;
}

.details .goodsdetails .goodste_bot .goodste_br {
  float: right;
  width: 460px;
  padding-top: 25px;
  margin-right: 40px;
}

.details .goodsdetails .goodste_bot .goodste_br p {
  padding-bottom: 30px;
  line-height: 1.2;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}

.details .goodsdetails .goodste_bot .goodste_br p .syh {
  display: inline-block;
  font-size: 40px;
  color: skyblue;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc {
  border-left: 1px dashed #f0eee2;
  padding-left: 30px;
  margin-left: -30px;
  clear: both;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .product-titles2 {
  padding: 0px;
  color: #505a64;
  font-size: 12px;
  line-height: 26px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .product-titles2 .icon66 {
  font-size: 12px;
  color: #fff;
  background: #EC3E7C;
  margin-right: 5px;
  display: inline-block;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  position: relative;
  top: 2px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .product-titles2 a {
  color: #888;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc p {
  font-size: 12px;
  line-height: 30px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .ruleWrap {
  padding: 18px 0 14px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 5px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .ruleWrap .dispatching {
  font-size: 14px;
  color: #333;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .ruleWrap .dispatching li div {
  display: inline-block;
  position: relative;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .ruleWrap .dispatching li div .hid {
  padding-bottom: 0;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brc .ruleWrap .dispatching .one {
  width: 50px;
  letter-spacing: 5px;
  color: #959595;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .spshuliang {
  margin-top: 10px;
  width: 100%;
  height: 21px;
  font-size: 12px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .spshuliang .spbtn {
  font-size: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #555;
  font-weight: bold;
  text-align: center;
  border: 1px solid #666;
  background-color: #efefef;
  vertical-align: middle;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .spshuliang #jssl {
  width: 25px;
  height: 20px;
  background-color: #eee;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .detail {
  display: block;
  height: 24px;
  color: #888888;
  padding-left: 5px;
  padding-top: 20px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .detail .action-price {
  color: #ec3e7d;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .xgbtbox {
  width: 100%;
  margin-top: 40px;
  height: 60px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .xgbtbox .dhtzbyn {
  float: left;
  width: 146px;
  height: 40px;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 4px;
  background: #ec3e7d;
  border-radius: 5px;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .xgbtbox .smgw {
  box-sizing: border-box;
  font-size: 12px;
  background-color: #fff;
  color: #666;
  border: 1px solid #111;
  text-align: center;
  padding: 0px;
  margin-left: 10px;
  position: relative;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .xgbtbox .smgw .smgw {
  display: none;
  position: absolute;
  top: -150px;
  left: -12px;
  width: 148px;
  height: 148px;
  background: url("../img/details/smgw.png") no-repeat;
  background-size: cover;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .xgbtbox .smgw:hover .smgw {
  display: block;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .pinglun {
  overflow: hidden;
  width: 100%;
  height: 40px;
  color: #333;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .fenxiang {
  width: 100%;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .fenxiang .fenxiang_r {
  padding-right: 60px;
  float: right;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .fenxiang .fenxiang_r a {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  height: 16px;
  background: url("../img/details/fx1.png") no-repeat;
  background-size: cover;
}

.details .goodsdetails .goodste_bot .goodste_br .goodste_brt .fenxiang .fenxiang_r a:nth-child(2) {
  background: url("../img/details/fx2.png") no-repeat;
}

.details .xqmain {
  width: 100%;
  background-color: #eee;
}

.details .xqmain .cnxh {
  overflow: hidden;
}

.details .xqmain .cnxh .cnxhbt {
  padding-top: 20px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  color: #333;
  line-height: 50PX;
}

.details .xqmain .cnxh .xhlist li {
  float: left;
  width: 212px;
  height: 310px;
  padding: 10px 9px 8px 9px;
  border: solid 1px #eee;
  background: #fff;
  margin-right: 10px;
}

.details .xqmain .cnxh .xhlist li img {
  width: 212px;
  height: 212px;
  margin-bottom: 20px;
}

.details .xqmain .cnxh .xhlist li:hover img {
  opacity: 0.5;
}

.details .xqmain .cnxh .xhlist li:last-child {
  margin-right: 0px;
}

.details .xqmain .cnxh .xhlist li .cnnr {
  color: #888;
}

.details .xqmain .cnxh .xhlist li .cnscpace span {
  font-size: 24px;
  color: #e93b78;
}

.details .xqmain .spcs {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.details .xqmain .spcs .spcs_l {
  width: 247px;
  background-color: #fff;
}

.details .xqmain .spcs .spcs_l .spcs_lt {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #666;
}

.details .xqmain .spcs .spcs_l .spcs_lt .lsbt {
  font-size: 18px;
  line-height: 50px;
  padding-left: 23px;
}

.details .xqmain .spcs .spcs_l .spcs_lt .lsbtl {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 50px;
  background-color: #58bc58;
}

.details .xqmain .spcs .spcs_l .spcs_lb {
  min-height: 900px;
  overflow: hidden;
}

.details .xqmain .spcs .spcs_l .spcs_lb li {
  width: 100%;
  height: 69px;
  border-bottom: 1px dashed #d4d4d4;
  padding: 20px 10px;
  margin-top: -1px;
}

.details .xqmain .spcs .spcs_l .spcs_lb li .spcs_lbl {
  overflow: hidden;
  width: 69px;
  height: 69px;
  margin: 0;
  padding: 0px;
}

.details .xqmain .spcs .spcs_l .spcs_lb li .spcs_lbr {
  width: 167px;
  overflow: hidden;
  color: #3e3e3e;
}

.details .xqmain .spcs .spcs_l .spcs_lb li .spcs_lbr .lsnr {
  width: 150px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details .xqmain .spcs .spcs_r {
  width: 920px;
  overflow: hidden;
}

.details .xqmain .spcs .spcs_r .xq_xdbox {
  background-color: #fff;
  height: 51px;
  overflow: hidden;
  width: 100%;
  font-size: 14px;
  float: left;
  margin-right: 5px;
  font-weight: normal;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .product-tags .tags-hd {
  font-size: 14px;
  float: left;
  margin-right: 5px;
  font-weight: normal;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .product-tags .active {
  border-bottom: 3px solid #c69a62;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .product-tags .tags-hd a {
  color: #555c67;
  border: 1px solid white;
  display: block;
  padding: 2px 26px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .tags-addtocart {
  float: right;
  width: 260px;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .tags-addtocart .price {
  line-height: 50px;
  font-size: 24px;
}

.details .xqmain .spcs .spcs_r .xq_xdbox .tags-addtocart .btn {
  background: #ec3e7d;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  float: right;
  margin-left: 15px;
  border-radius: 0;
}

.details .xqmain .spcs .spcs_r .mod {
  margin-top: 70px;
  padding-top: 20px;
  background-color: #fff;
}

.details .xqmain .spcs .spcs_r .mod-title .mod-title-text {
  line-height: 32px;
  font-weight: 400;
  padding-left: 10px;
  font-size: 21px;
  background: url("../img/details/probt.png") no-repeat 110px 3px;
}

.details .xqmain .spcs .spcs_r .product-section .mod-title {
  height: 32px;
}

.details .xqmain .spcs .spcs_r .product-attributes ul {
  padding: 30px 45px;
}

.details .xqmain .spcs .spcs_r .product-attributes li {
  clear: both;
  color: #333;
  padding: 6px 0;
}

.details .xqmain .spcs .spcs_r .product-attributes li span {
  width: 140px;
  color: #666;
  display: inline-block;
}

.details .xqmain .spcs .spcs_r .attributes-cont {
  width: 580px;
  float: right;
  text-align: left;
}

.details .xqmain .spcs .spcs_r .pltp {
  width: 100%;
  overflow: hidden;
}

.details .xqmain .spcs .spcs_r .pltp .xqxxtb {
  background-position: 110px -50px;
}

.details .xqmain .spcs .spcs_r .pinglunxx {
  margin-top: 50px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 26px;
  width: 100%;
}

.details .xqmain .spcs .spcs_r .pinglunxx .yhpjtb {
  background-position: 110px -146px;
}

.details .xqmain .spcs .spcs_r .product-score {
  width: 100%;
  line-height: 24px;
}

.details .xqmain .spcs .spcs_r .product-score .score-total .values, .details .xqmain .spcs .spcs_r .product-score .score-total .values .stars, .details .xqmain .spcs .spcs_r .product-score .score-total .values .stars .below {
  width: 105px;
}

.details .xqmain .spcs .spcs_r .product-score td {
  padding: 15px 10px;
}

.details .xqmain .spcs .spcs_r .btn-k {
  border: 2px solid #ec3e7d;
  padding: 4px 30px;
  font-size: 18px;
  color: #ec3e7d;
}

.details .xqmain .spcs .spcs_r .koubeipoint {
  font-size: 24px;
  line-height: 40px;
  padding-left: 45px;
}

.details .xqmain .spcs .spcs_r .koubeipoint b {
  font-size: 36px;
  color: #db3f7e;
}

.details .xqmain .spcs .spcs_r .comment-list .title {
  padding-left: 55px;
  margin-top: -20px;
}

.details .xqmain .spcs .spcs_r user agent stylesheet
div {
  display: block;
}

.details .xqmain .spcs .spcs_r .comment-list {
  padding: 10px 10px 10px 10px;
  line-height: 24px;
}

.details .xqmain .spcs .spcs_r ul, .details .xqmain .spcs .spcs_r li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.details .xqmain .spcs .spcs_r .comment-list .comment-item {
  margin: 15px 0 40px 0;
}

.details .xqmain .spcs .spcs_r input, .details .xqmain .spcs .spcs_r select, .details .xqmain .spcs .spcs_r textarea {
  border-width: 1px;
  border-color: #cccccc;
  padding: 1px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-avatar {
  width: 60px;
  height: 60px;
  line-height: 58px;
  overflow: hidden;
  text-align: center;
  font-family: Arial;
  margin: 0 auto;
  padding: 1px;
}

.details .xqmain .spcs .spcs_r .iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

.details .xqmain .spcs .spcs_r .comment-list .discuss-label {
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}

.details .xqmain .spcs .spcs_r .comment-list .member {
  width: 145px;
  float: left;
  text-align: center;
  margin-right: 5px;
}

.details .xqmain .spcs .spcs_r .comment-list .member .username {
  width: 145px;
  word-break: break-all;
  line-height: 16px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss {
  position: relative;
  width: 575px;
  margin-left: 150px;
  padding: 20px 24px;
  background-color: #f2f2f2;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .point {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .comment-list .point i {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 10px dashed transparent;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .comment-list .point-left .above {
  border-right-color: #f2f2f2;
  left: 0px;
  top: 0;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .comlst-title {
  float: left;
  margin-right: 20px;
  color: #ec3e7d;
  font-size: 18px;
  width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .comlst-point {
  margin-right: 5px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .discuss-detail {
  color: #575e68;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .discuss-time {
  font-size: 14px;
  color: #bebebe;
  clear: both;
  line-height: 40px;
}

.details .xqmain .spcs .spcs_r .comment-list .member-discuss .post-reply .btn-close, .details .xqmain .spcs .spcs_r .comment-list .member-discuss .post-answer .btn-close {
  margin-left: 10px;
  vertical-align: middle;
  display: inline-block;
}
