#lsitmain {
  width: 100%;
  background-color: #eee;
}

#lsitmain .list_tp {
  width: 100%;
  height: 50px;
}

#lsitmain .lsidebar {
  float: left;
  width: 253px;
  overflow: hidden;
}

#lsitmain .refilter {
  margin-bottom: 30px;
}

#lsitmain .refilter .cpfl-bt {
  height: 48px;
  border-left: 5px solid #c69a62;
  background: #fff;
  line-height: 48px;
  font-size: 18px;
  color: #404040;
  padding-left: 30px;
  font-weight: normal;
}

#lsitmain .lsidebar .gray-box {
  background: #fff;
  overflow: hidden;
  margin-bottom: 26px;
}

#lsitmain .l_aone li {
  border-top: 1px dotted #f2f2f2;
  background: #fff;
  font: normal 14px/50px \5fae\8f6f\96c5\9ed1;
  cursor: pointer;
  position: relative;
  margin-top: -1px;
}

#lsitmain .gallery-page .l_aone li i {
  left: 8px;
}

#lsitmain .l_aone li i, #lsitmain .l_aone .ahover i, #lsitmain .all_filter i, #lsitmain .filter_close i {
  position: absolute;
  top: 16px;
  right: 12px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  background: url(/themes/default/images/icon-jt.png) no-repeat 0 0;
  cursor: pointer;
}

#lsitmain .l_aone li {
  border-top: 1px dotted #f2f2f2;
  background: #ddd;
  font: normal 14px/50px \5fae\8f6f\96c5\9ed1;
  cursor: pointer;
  position: relative;
  margin-top: -1px;
}

#lsitmain .l_aone li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 34px;
  color: #565d67;
  overflow: hidden;
}

#lsitmain .l_btwo {
  background: #fff;
  padding: 10px 0px 15px 0;
  overflow: hidden;
}

#lsitmain .l_btwo li {
  text-indent: 26px;
  border-top: 0;
  background: #fff;
  font: normal 14px/32px \5fae\8f6f\96c5\9ed1;
  width: 150px;
  float: left;
  border-left: 1px dotted #ddd;
  margin-left: -1px;
}

#lsitmain .l_btwo li a {
  white-space: nowrap;
  display: block;
  padding-left: 8px;
  overflow: hidden;
  color: #828282;
}

#lsitmain .spcs_l {
  width: 247px;
  background-color: #fff;
}

#lsitmain .spcs_l .spcs_lt {
  width: 100%;
  height: 50px;
  position: relative;
  border-bottom: 1px solid #666;
}

#lsitmain .spcs_l .spcs_lt .lsbt {
  font-size: 18px;
  line-height: 50px;
  padding-left: 23px;
}

#lsitmain .spcs_l .spcs_lt .lsbtl {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 50px;
  background-color: #58bc58;
}

#lsitmain .spcs_l .spcs_lb {
  min-height: 100px;
  overflow: hidden;
}

#lsitmain .spcs_l .spcs_lb li {
  width: 100%;
  height: 69px;
  border-bottom: 1px dashed #d4d4d4;
  padding: 20px 10px;
  margin-top: -1px;
}

#lsitmain .spcs_l .spcs_lb li .spcs_lbl {
  overflow: hidden;
  width: 69px;
  height: 69px;
  margin: 0;
  padding: 0px;
}

#lsitmain .spcs_l .spcs_lb li .spcs_lbr {
  width: 167px;
  overflow: hidden;
  color: #3e3e3e;
}

#lsitmain .spcs_l .spcs_lb li .spcs_lbr .lsnr {
  width: 150px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
